.empty-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h2 {
    @extend %text-color-light;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}
